* {
    margin-top: 0rem;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.web-item-img-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    width: 100%;
    padding: 200px;
    color: rgba(255, 255, 255, 0);
    z-index: -1;
    transition: .3s;
    background-image: url('https://2.bp.blogspot.com/-d1XiGTaqQjI/VwtYp4wS8jI/AAAAAAAADVI/-v1zMOoyZTktIg3PEt_5Jn2TUOCLPGKVA/s640/tumblr_nyt5immDdT1qze3hdo1_500.gif');
}

.web-item-img-navbar h1 {
    position: relative;
    font-size: 60px;
    -webkit-text-stroke: 2px #000000;
    text-transform: uppercase;
    font-family: cursive;
}

.web-item-img-navbar h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    max-width: 0;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0px #9d323200;
    border-right: 4px solid #fff;
    overflow: hidden;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0%,10%,100% {
        max-width: 0;
    }
    70%,90% {
        max-width: 100%;
    }
}

.psp {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 10rem 10%;
    color: #000;
}

.psp h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.content-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 50px;
}

.content-item-img {
    margin: auto; 
}

.content-item-img img{
    max-width: 800px;
    width: 100%;
}

@media only screen and (max-width: 870px){
    .web-item-img-navbar h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .web-item-img-navbar h1 {
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 425px) {
    .web-item-img-navbar h1 {
        font-size: 20px;
    }

    .web-item-img-navbar {
        padding: 100px;
    }

    .content-item {
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 320px) {
    .web-item-img-navbar h1 {
        font-size: 18px;
    }

    .content-item {
        grid-template-columns: 1fr;
    }
    
}